@using global::Shared.Enums
@model PartialViewsVM

<div class="row">
    <div class="col">
        <div class="d-flex flex-wrap">
            <div class="form-group col-12 col-md-6 col-lg">
                <label class="d-block text-nowrap min-width-60" for="TestCradlePropInput">Test Cradle Prop</label>
                <input class="text-center form-control" id="TestCradlePropInput" data-research-cradle="TestCradleProp" value="@Model.ResearchCradle.TestCradleProp" />
            </div>
        </div>
    </div>
</div>
