@using global::Shared.Enums
@model ResearchCradle
<div class="row">
    <div class="col">
        <div class="d-flex flex-wrap">
            <div class="form-group col-12 col-md-6 col-lg">
                <label class="d-block text-nowrap min-width-60" for="SymbolInput">Symbol</label>
                <input class="text-center form-control" id="SymbolInput" data-trade-data="Symbol" value="@Model.TestCradleProp" />
            </div>
        </div>
    </div>
</div>
