@{
    ViewData["Title"] = "Trade Calculator";
}

<div class="row justify-content-center align-items-start">
    <div class="col-10 text-center">
        <h2>Calculator Setup</h2>
    </div>
    <div class="col-10 d-flex flex-column align-items-center">
        <!-- place the commented card below this line -->
        <div class="card-body bg-gradient-secondary rounded-lg col-6">
            <form id="formCalculatorSetup">
                <table class="table table-borderless table-sm table-xs">
                    <thead>
                        <tr class="mt-2">
                            <th scope="col" colspan="2" class="text-white border-bottom">Calculator Setup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="text-white form-check-label mr-3">Trade Account Risk %</label>
                                <input type="text" class="form-control bg-gradient-light w-50 text-center" min="0" />
                            </td>
                            <td>
                                <label class="text-white mr-3 form-check-label">Account Size</label>
                                <input type="text" class="form-control bg-gradient-light w-50 text-center" min="0" />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label class="text-white mr-3 form-check-label">Trade Account Risk $</label>
                                <input type="text" disabled class="form-control bg-gradient-secondary w-50 text-center" min="0" />
                            </td>
                            <td>
                                <label class="text-white mr-3 form-check-label">Scale Out %</label>
                                <input type="text" value="" class="form-control bg-gradient-light w-50 text-center" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-white mr-3 form-check-label">Exchange position Size Limit %</label>
                                <input type="text" value="" class="form-control bg-gradient-light  w-50 text-center" min="0" />
                            </td>
                            <td>
                                <label class="text-white mr-3 form-check-label">Trade Fee % (multiplied by 4)</label>
                                <input type="text" value="" class="form-control bg-gradient-light  w-50 text-center" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-white mr-3 form-check-label">Acceptable Slippage %</label>
                                <input type="text" value="" class="form-control bg-gradient-light  w-50 text-center" min="0" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="card-body bg-gradient-dark rounded-lg col-8 mt-4">
            <form id="formCalculator">
                <table class="table table-borderless table-sm table-xs">
                    <thead>
                        <tr class="mt-2">
                            <th scope="col" colspan="4" class="text-white border-bottom">Calculator</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--Column 1-->
                            <td>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">USD Risk</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white mr-3 form-check-label">Strategy</label>
                                    <select type="text" class="form-control bg-gradient-light text-center" min="0">
                                        <option>First Bar Above/Below</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Initial Entry</label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">1-1 Profit</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Loss</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                            </td>
                            <!--Column 2-->
                            <td>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Symbol</label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white mr-3 form-check-label">Side</label>
                                    <select type="text" class="form-control bg-gradient-light text-center" min="0">
                                        <option>Long</option>
                                        <option>Short</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Limit</label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Pos Profit %</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Pos Loss %</label>
                                    <button type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                            </td>
                            <!--Column 3-->
                            <td>
                                <div class="form-group invisible">
                                    <label class="text-white form-check-label mr-3"></label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white mr-3 form-check-label">Side</label>
                                    <select type="text" class="form-control bg-gradient-light text-center" min="0">
                                        <option>Long</option>
                                        <option>Short</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Limit</label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Pos Profit %</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Pos Loss %</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                            </td>
                            <!--Column 4-->
                            <td>
                                <div class="form-group invisible">
                                    <label class="text-white form-check-label mr-3">Symbol</label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white mr-3 form-check-label">Side</label>
                                    <select type="text" class="form-control bg-gradient-light text-center" min="0">
                                        <option>Long</option>
                                        <option>Short</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Limit</label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Pos Profit %</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Pos Loss %</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                            </td>
                            <!--Column 5-->
                            <td>
                                <div class="form-group invisible">
                                    <label class="text-white form-check-label mr-3">Symbol</label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group ml-2">
                                    <label for="buttonSet" class="text-white form-check-label invisible w-50">Set settings</label>
                                    <button name="buttonSet" class="btn btn-primary w-50 form-control" min="0">
                                        <i class="fa-solid fa-arrows-rotate mr-2"></i>
                                        Set
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Limit</label>
                                    <input type="text" class="form-control bg-gradient-light text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Pos Profit %</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                                <div class="form-group">
                                    <label class="text-white form-check-label mr-3">Pos Loss %</label>
                                    <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                </div>
                            </td>
                        </tr>
                        @*   <tr>
                        <td>
                        <label class="text-white mr-3 form-check-label">Strategy</label>
                        <select class="form-control bg-gradient-secondary w-50 text-center">
                        <option value="value">text</option>
                        </select>
                        </td>
                        <td>
                        <label class="text-white mr-3 form-check-label">Side</label>
                        <select class="form-control bg-gradient-secondary w-50 text-center">
                        </select>
                        </td>
                        <td>
                        <label class="text-white mr-3 form-check-label">Marg/Exch</label>
                        <select class="form-control bg-gradient-secondary w-50 text-center">
                        </select>
                        </td>
                        <td>
                        <label class="text-white mr-3 form-check-label">Decimal Places</label>
                        <input type="text" value="" class="form-control bg-gradient-light w-50 text-center" min="0" />
                        </td>
                        </tr> *@
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
