@{
    ViewData["Title"] = "Trade Calculator";
}

<div class="row justify-content-center align-items-start">
    <div class="col-10 text-center">
        <h2>Trade Calculator</h2>
    </div>
    <div class="col-10 d-flex flex-column align-items-center">
        <div class="card-body bg-gradient-dark rounded-lg col-md-8 col-lg-8 mt-4 px-2">
            <form id="formCalculator">
                <table class="table table-borderless table-sm table-xs">
                    <thead>
                        <tr class="mt-2">
                            <th scope="col" colspan="4" class="text-white border-bottom">Calculator Setup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Row 1-->
                        <tr>
                            <td>
                                <div class="d-flex flex-wrap">
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Account Size</label>
                                        <input type="text" value="" class="form-control bg-gray-500 text-center editableInput" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Trade Risk</label>
                                        <input type="text" class="form-control bg-gray-500 text-center editableInput" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Exch Size Limit</label>
                                        <input type="text" value="" class="form-control bg-gray-500 text-center editableInput" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Max Slippage</label>
                                        <input type="text" value="" class="form-control bg-gray-500 text-center editableInput" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Trade Fee (x4)</label>
                                        <input type="text" value="" class="form-control bg-gray-500 text-center editableInput" min="0" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col" colspan="4" class="text-white border-bottom">Calculator</th>
                        </tr>
                        <!--Row 2-->
                        <tr>
                            <td>
                                <div class="d-flex flex-wrap">
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">USD Risk</label>
                                        <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Symbol</label>
                                        <input type="text" class="form-control bg-gradient-light text-center" placeholder="<enter pair>" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Scale Out %</label>
                                        <input type="text" value="" class="form-control bg-gray-500 text-center editableInput" min="0" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--Row 3-->
                        <tr>
                            <td>
                                <div class="d-flex flex-wrap">
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white mr-3 form-check-label text-nowrap">Strategy</label>
                                        <select type="text" class="form-control bg-gradient-light text-center" min="0">
                                            <option>First Bar Above/Below</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white mr-3 form-check-label text-nowrap">Side</label>
                                        <select type="text" class="form-control bg-gradient-light text-center" min="0">
                                            <option>Long</option>
                                            <option>Short</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white mr-3 form-check-label text-nowrap">Market</label>
                                        <select type="text" class="form-control bg-gradient-light text-center" min="0">
                                            <option>Margin</option>
                                            <option>Spot</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white mr-3 form-check-label text-nowrap">Precision</label>
                                        <input type="text" class="form-control bg-gray-500 text-center editableInput" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2 align-self-end">
                                        <label class="form-check-label invisible text-nowrap"></label>
                                        <button name="buttonSet" class="form-control btn btn-primary d-flex align-items-center justify-content-center">
                                            <i class="fa-solid fa-arrows-rotate mr-2"></i>
                                            Set
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- Spacing -->
                        <tr>
                            <td>
                                <div class="mb-4"></div>
                            </td>
                        </tr>
                        <!--Row 4-->
                        <tr>
                            <td>
                                <div class="d-flex flex-wrap    ">
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Entry</label>
                                        <input type="text" class="form-control bg-gradient-light text-center" id="entryInput" placeholder="<enter price>" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label text-nowrap mr-3">Limit</label>
                                        <input type="text" value="12345" disabled class="form-control bg-gradient-secondary text-center text-warning" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Stop</label>
                                        <input type="text" class="form-control bg-gradient-light text-center" id="stopInput" placeholder="<enter price>" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Entry Size</label>
                                        <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Entry Qty</label>
                                        <input type="text" value="12345" disabled class="form-control bg-gradient-secondary text-center text-warning" min="0" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--Row 5-->
                        <tr>
                            <td>
                                <div class="d-flex flex-wrap    ">
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">1-1 Profit</label>
                                        <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label text-nowrap mr-3">Pos P %</label>
                                        <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Acc % P</label>
                                        <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Best Target</label>
                                        <input type="text" value="12345" disabled class="form-control bg-gradient-secondary text-center text-warning" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">OCO Qty</label>
                                        <input type="text" value="12345" disabled class="form-control bg-gradient-secondary text-center text-info" min="0" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--Row 6-->
                        <tr>
                            <td>
                                <div class="d-flex flex-wrap    ">
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Loss</label>
                                        <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label text-nowrap mr-3">Pos L %</label>
                                        <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Acc % L</label>
                                        <input type="text" disabled class="form-control bg-gradient-secondary text-center" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Worst Target</label>
                                        <input type="text" value="12345" disabled class="form-control bg-gradient-secondary text-center text-info" min="0" />
                                    </div>
                                    <div class="form-group col-12 col-md-6 col-lg-2">
                                        <label class="text-white form-check-label mr-3 text-nowrap">Stop Qty</label>
                                        <input type="text" value="12345" disabled class="form-control bg-gradient-secondary text-center text-info" min="0" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/calculator.js"></script>
}