.hidden-element {
    display: none;
}

.tundora {
    color: #4A4A4A;
}

.min-width-60 {
    min-width: 60px;
    display: inline-block;
}

.table-xs th,
.table-xs td {
    padding: 0.1rem;
    font-size: 0.9rem;
}
.row.flex-column {
    display: flex;
    flex-direction: column;
}

.custom-input:focus,
.custom-input:active {
    box-shadow: none;
}




.research-th {
    padding: 0.05rem; /* Reduce padding to make cells narrower */
    text-align: left !important; /* Center align text */
    vertical-align: middle; /* Center align vertically */
    width: 0.2%; /* Set a fixed width for th */
}

.research-td {
    padding: 0.05rem; /* Reduce padding to make cells narrower */
    text-align: left !important; /* Center align text */
    vertical-align: middle !important; /* Center align vertically */
    width: 0.5% !important; /* Set half width compared to th */
    min-width: 30px !important;
    margin-right: 2px !important;
}

.table th {
    padding: 0 !important;
}

.table td {
    padding: 0.2rem !important;
}